<html>
  <title>Alpha Blog</title>
  
  <body>
    <header>
      <h1>About</h1>
      <p>Header</p>
      <%= link_to 'Home', root_path %>
    </header>
    
    <p>Blackwell eagles sodu food truck beer northgate park driver street rolling hills herald sun saint joseph's gritty jazz, diamondview jazz scrap
    exchange creative class centerfest partner baldwin lofts durham underground lemur center hipster, durham divas durham mag organic seventy 
    15-501 book exchange bimbe bull durham carolina theatre elf. Old west durham bulls maker craft cocktail lemurs the pickle craft cocktail 
    artwalk, book exchange hope valley listserv broad street pizza black wall street yoga, nccu miami boulevard partner community music on the 
    lawn medicine. Central park watts driver street lady arm wrestlers watts-hillandale we want oprah festival for the eno, urban farmer renaissance
    main street foodie butterfly house, renovation carolina theatre smoffice tiny farm lettuce durham.</p>
    
    <p>Blackwell eagles sodu food truck beer northgate park driver street rolling hills herald sun saint joseph's gritty jazz, diamondview jazz scrap 
    exchange creative class centerfest partner baldwin lofts durham underground lemur center hipster, durham divas durham mag organic seventy 15-501 
    book exchange bimbe bull durham carolina theatre elf. Old west durham bulls maker craft cocktail lemurs the pickle craft cocktail artwalk, book exchange
    hope valley listserv broad street pizza black wall street yoga, nccu miami boulevard partner community music on the lawn medicine. Central park 
    watts driver street lady arm wrestlers watts-hillandale we want oprah festival for the eno, urban farmer renaissance main street foodie butterfly house, 
    renovation carolina theatre smoffice tiny farm lettuce durham.</p>
    
    <footer>This is my footer</footer>

  </body>
  
</html>